* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    color: #333;
    background-color: #A7BEAE;
  }
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background:#E7E8D1;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
 #intro, #time, #regi {
    margin-bottom: 20px;
  }
  
 
  #intro a, #time a, #regi a{
    text-decoration: none; 
    color: #3498db;
    transition: color 0.3s ease;
    background-color: #EDF4F2;
}
  
  #intro a:hover, #time a:hover, #regi a:hover {
    text-decoration: underline;
    color: #0f54c3;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    background-color: #3498db;
    border-radius: 10px;
    margin: 20px auto;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#img{
    background-color:  #EDF4F2;
}




h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}




img:hover {
    transform: scale(1.05);
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

a:hover {
    background-color:#EDF4F2;
    border-color: #070707;
}