body ,table,td{
margin:0;
padding:0;
border:0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
backdrop-filter: blur(1px);
}
body{
   
    background-color: rgb(245, 243, 243);
background-image: url(" background.img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
table {
  

    border:1px solid #f8f3f3;
    width: 850px;
    backdrop-filter: blur(1px);
    box-shadow: 10px 10px 5px rgb(10, 10, 10);
border-radius: 10px 10px 10px 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
margin-top: 45px;

}



td{
    border:1px solid #000;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even){
    background-color:#f2f2f2;

}

tr:nth-child(odd){
    background-color: #ffffff;
}

td[rowspan],td[colspan]{
    background-color: #d9d9d9;
}

td#cl1{
    background-color: #e6f7ff;
}

td#cl2{
    background-color: #ffffcc;
}

td#cl3{
    background-color: #cce5ff;
}

table caption{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

th{
    background-color: #007bff;
    color: white;
    padding: 10px;
}

